<form class="{{cssClass}}" autocomplete="off">
    <div class="bsh-equipment-body">
        <div>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}">
            <hr>

            <div class="bsh-field">
                <label class="bsh-label">{{localize "bsh.fields.labels.quantity"}}</label>
                <input type="number" name="system.quantity" value="{{item.system.quantity}}" class="bsh-input" />
            </div>

            <div class="bsh-field">
                <label class="bsh-label">{{localize "bsh.fields.labels.usageDie"}}</label>
                <select name="system.usageDie.current" class="bsh-input bsh-select">
                {{{selectOptions configuration.usageDieList selected=item.system.usageDie.current localize=true }}}
                </select>
            </div>

{{#if openingUserIsGM}}
            <div class="bsh-field">
                <label class="bsh-label">{{localize "bsh.fields.labels.usageDieMax"}}</label>
                <select name="system.usageDie.maximum" class="bsh-input bsh-select">
                {{{selectOptions configuration.usageDieList selected=item.system.usageDie.maximum localize=true }}}
                </select>
            </div>
{{/if}}

            <div class="bsh-field">
                <label class="bsh-label">{{localize "bsh.fields.labels.rarity"}}</label>
                <select name="system.rarity" class="bsh-input bsh-select">
                {{selectOptions configuration.itemRarityList selected=item.system.rarity localize=true}}
                </select>
            </div>
        </div>

        <div>
            <div class="bsh-field">
                <input class="bsh-enlarged-input" name="name" type="text" value="{{item.name}}" />
            </div>

            <div class="bsh-field">
                <label for="system.description" class="bsh-label">{{localize "bsh.fields.labels.description"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>